<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="awiidev.gdggulu.com.goafrican_uganda" >

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Permissions required by the sync adapter -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".AddDish"
            android:label="@string/title_activity_add_dish"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="awiidev.gdggulu.com.goafrican_uganda.MainActivity" />
        </activity>
        <activity
            android:name=".ReviewDish"
            android:label="@string/title_activity_review_dish"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="awiidev.gdggulu.com.goafrican_uganda.MainActivity" />
        </activity>

        <provider
            android:name=".data.DishProvider"
            android:authorities="com.awiidev.gdggulu.goafrican_uganda" />

        <!-- SyncAdapter's dummy authentication service -->
        <service android:name=".sync.DishAuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- The SyncAdapter service -->
        <service
            android:name=".sync.DishSyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name=".DishDetailActivity"
            android:label="@string/title_activity_dish_detail"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="awiidev.gdggulu.com.goafrican_uganda.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/CardView.Light" >
        </activity>
        <activity
            android:name=".Welcome"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_welcome"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
